<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <mat-list>
        <mat-list-item *ngFor="let goal of goals">
          {{ goal.title }}
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <h1>Goals</h1>
      <div *ngIf="goals.length === 0 && !error">No goals yet.</div>
      <div *ngIf="error" class="error">{{ error }}</div>
      <div class="goal-form">
        <mat-form-field>
          <input matInput [(ngModel)]="newGoalTitle" placeholder="Goal Title">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="newGoalDescription" placeholder="Description">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="createGoal()">Add Goal</button>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>