<mat-toolbar color="primary">
  <span>Task Tracker</span>
  <span class="spacer"></span>
  <span class="logged-user" *ngIf="userEmail">Logged in as: {{ userEmail }}</span>
  <button mat-button *ngIf="userEmail" (click)="logout()">Logout</button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-list>
      <mat-list-item *ngFor="let goal of goals" (click)="selectGoal(goal)" matListItemButton >
        {{ goal.title }}
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <h1>Create new Goal</h1>
    <div *ngIf="goals.length === 0 && !error">No goals yet.</div>
    <div *ngIf="error" class="error">{{ error }}</div>
    <div class="goal-form">
      <mat-form-field>
        <input matInput [(ngModel)]="newGoalTitle" placeholder="Goal Title">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="newGoalDescription" type="textarea" rows="9" placeholder="Description">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="createGoal()">Add Goal</button>
    </div>
    <div *ngIf="selectedGoal" class="edit-section">
      <h2>{{ selectedGoal.title }}</h2>
      <mat-form-field>
        <input matInput [(ngModel)]="selectedGoal.title" placeholder="Title">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="selectedGoal.description" placeholder="Description">
      </mat-form-field>
      <div class="button-group">
        <button mat-raised-button color="primary" (click)="updateGoal()">Save</button>
        <button mat-raised-button color="warn" (click)="deleteGoal(selectedGoal.id)">Delete</button>
      </div>
      <h3>Tasks (Progress: {{ getProgress(selectedGoal) | number:'1.0-0' }}%)</h3>
      <div *ngIf="selectedGoal.tasks?.length === 0">No tasks yet.</div>
      <ul>
        <li *ngFor="let task of selectedGoal.tasks">
          <mat-checkbox [(ngModel)]="task.isCompleted" (change)="toggleTaskCompletion(task)">
            {{ task.title }}
          </mat-checkbox>
          <button mat-button color="warn" (click)="deleteTask(task.id)">Delete</button>
        </li>
      </ul>
      <mat-form-field>
        <input matInput [(ngModel)]="newTaskTitle" placeholder="New Task">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="createTask()">Add Task</button>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>