mat-sidenav-container {
  height: calc(100vh - 64px); /* Adjust for toolbar height */
}
mat-sidenav {
  width: 200px;
}
.error {
  color: red;
  margin: 10px 0;
}
.goal-form {
  margin: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.edit-section {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
mat-form-field {
  flex: 1;
}
.spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logged-user {
  font-size: 15px;
}
.button-group {
  display: flex;
  gap: 10px;
}
.button-group button[mat-raised-button] {
  min-width: 80px;
  width: auto;
}

.progress {
  margin: 10px 0;
}