<li *ngIf="task" [class.overdue]="isOverdue">
  <div *ngIf="!isEditing" class="task-display">
    <mat-checkbox [(ngModel)]="task.isCompleted" (change)="toggleTask()">
      {{ task.title }}
      <span *ngIf="task.dueDate" class="due-date">Due: {{ task.dueDate | date }}</span>
      <span class="priority">({{ task.priority }})</span>
    </mat-checkbox>
    <div class="action-buttons">
      <button mat-icon-button (click)="startEditing()" matTooltip="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteTask()" matTooltip="Delete">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="isEditing" class="task-edit">
    <mat-form-field appearance="outline" class="edit-field">
      <mat-label>Task Title</mat-label>
      <input matInput [(ngModel)]="editedTitle" placeholder="Enter task title">
    </mat-form-field>
    <mat-form-field appearance="outline" class="edit-field">
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="editedDueDate" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="edit-field">
      <mat-label>Priority</mat-label>
      <mat-select [(ngModel)]="editedPriority">
        <mat-option *ngFor="let priority of priorityOptions" [value]="priority">
          {{ priority }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="edit-buttons">
      <button mat-raised-button color="primary" (click)="saveTask()">Save</button>
      <button mat-raised-button (click)="cancelEditing()">Cancel</button>
    </div>
  </div>
</li>